<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Video Freaks</title>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index.html">Video Freaks</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="./login.html">Login</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= t('.page_title') %>
                    <small><%= t('.sub_title') %></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <% @urls.each_with_index do |url, index| %>
        <% if index != 0 && index % 3 == 0 %>
        </div>
        <div class="row">
        <% end %>
            <div class="col-md-3 portfolio-item">
                <a href="#" class="movie_link" data-toggle="modal" data-target="#movieModal" data-url="<%= url.emb_url %>">
                    <img class="img-responsive" src="<%= url_for(:controller => 'thumbnails', :action => 'get_image', :id => image_id(url.emb_url, @thumbs)) %>" alt="">
                    <img class="img-responsive"
                       <%= movie_pics = url.movie_pics[0] %>
                       <% if movie_pics.nil? || movie_pics.empty? %>
                       src="<%= asset_path '128px-No_image_available.svg.png' %>"
                       <% else %>
                       src="<%= url.movie_pics[0] %>"
                       <% end %>
                    alt="">
                </a>
                <h3>
                    <a href="#"><%= url.title %></a>
                </h3>
                <div class="progress">
                   <div class="progress-bar progress-bar-success" style="width: <%= percentage(url.rate) %>"> <%= url.rate %> </div>
                   <div class="progress-bar progress-bar-danger" style="width: <%= reverse_percentage(url.rate) %>"></div>
                </div>
                <div class="tags">
                   <strong><%= t('.tags') %>:</strong> <%= show_movie_tags(url.tags) %>
                </div>
            </div>
        <% end %>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                <%= paginate(@urls) %>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Video Freaks 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg">
              <div class="modal-content">
                 <div class="modal-header">
                 </div>
                 <div class="modal-body">
                    <iframe></iframe>
                    <div class="modalButtonWrapper">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
              </div> <!-- /.modal-content -->
           </div> <!-- /.modal-dialog -->
        </div>
        <!-- /.Modal -->
    </div>
    <!-- /.container -->

    <!-- Load the movie -->
    <script>
        $('#movieModal').on('show.bs.modal', function (event) {
            var callerElement = $(event.relatedTarget);
            var src = callerElement.data('url');
            var width = $(window).width();
            var height = $(window).height();
            console.log("width: " + width);
            console.log("height: " + height);
            var modal = $(this);

            modal.find('iframe').attr({'src': src,
                                       'height': height,
                                       'width': width});

        });

        $('.modal-dialog button').click(function () {
           $('#movieModal iframe').removeAttr('src');
        });
    </script>
</body>

</html>
